*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header-blu{
    background-color: #0084fd;
    margin-bottom: 30px;
}

.header-flex{
    display: flex;
    justify-content: space-between;
}
/* LAYOUT RULES */
.container{
    max-width: 100%;
    margin: 0 auto;
}

/* HEADER */
.extended-menu{
    margin-top: 10px;
    display: none;
}

.content-header img{
    width: 60px;
    margin: 5px 15px;
}

.fa-bars{
    font-size: 25px;
    margin: 8px 15px 0;
}

.content-header a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#border-radius{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
}
/* END HEADER */
/* MAIN */
.flex{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: column;
}

.content-flex{
    width: 100%;
}

.col-double{
    width: calc(100% / 2 * 2 - 20px);
    background-color: #b5ddff;
    border-radius: 20px;
    margin: 10px;
}

.col-30{
    width: calc(100% -20px);
    background-color: #b5ddff;
    border-radius: 20px;
    height: 300px;
    margin: 10px;
}

.left-content{
    margin: 30px 0;
}

#img{
    width: 200px;
    margin: 30px 70px 0;
}

h2{
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #007ffd;
}

p{
    font-size: 13px;
    padding: 10px;
    margin-left: 60px;
    line-height: 25px;
}

#button{
    width: 50%;
    background-color: #0084fd;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 15px;
    
}

.fa-brands{
    font-size: 16px;
    padding: 10px 5px 10px 35px;
}

span{
    font-size: 16px;
    color: white;
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    font-size: 60px;
    margin: 20px 140px 0;
}

.main{
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
}

#planning{
    background-color: #9792e4;
}

.col-50{
    width: calc(100% - 20px);
    height: 400px;
    margin: 10px;
    background-color: blue;
}

.col-100{
    width: calc(100% - 20px);
    height: 200px;
    margin: 10px;
    background-color: gold;
}

#benefits{
    background-color: #9792e4;
}

.col-75{
    width: calc(100% - 20px);
    height: 400px;
    margin: 10px;
    background-color: brown;
    float: left;
}

.col-25{
    width: calc(100% - 20px);
    height: 400px;
    margin: 10px;
    background-color: greenyellow;
    float: left;
}

#started{
    background-color: #9792e4;
}

.col-60{
    width: calc(60% - 20px);
    height: 300px;
    margin: 10px auto;
    background-color: aqua;
}
/* END MAIN*/
/* FOOTER */
#footer{
    background-color: black;
}

.col-55{
    width: calc(55% - 20px);
    height: 150px;
    margin: 10px auto;
    background-color: darkorange;
}
/* END FOOTER */
/* TABLET */
@media screen and (min-width:768px){
    .container{
        max-width: 750px;
    }

    .content{
        flex-direction: row;
    }

    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-double{
        width: calc(100% / 3 * 2 - 20px);
        height: 300px;
    }

    .left-content{
        width: 50%;
    }

    .right-content{
        width: 50%;
    }

    .col-30{
        width: calc(100% / 3 - 20px);
    }

    .fa-file-code, .fa-compass-drafting, .fa-bullhorn{
        font-size: 60px;
        margin: 20px 120px 0;
    }

    .fa-laptop-code{
        margin-left: 110px;
    }
}
/* DESKTOP */
@media screen and (min-width:991px){
    .container{
        max-width: 950px;
    }

    .extended-menu{
        display: block;
    }

    .hamburger{
        display: none;
    }

    .col-50{
        width: calc(50% - 20px);
    }

    .col-75{
        width: calc(100% - 30% - 20px);
    }

    .col-25{
        width: calc(100% - 70% - 20px);
    }
}

/* LARGE-DESKTOP */
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}

