*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-blu{
    background-color: #0084fd;
    height: 50px;
    margin-bottom: 30px;
}

.header-flex{
    display: flex;
    justify-content: space-between;
}
/* LAYOUT RULES */
.container{
    max-width: 368px;
    margin: 0 auto;
}
/* HEADER */
.left-logo, .right-menu{
    width: 100px;
    margin-top: 5px;
}

.hamburger .fa-bars{
    display: flex;
    justify-content: flex-end;
    color: white;
}

.left-logo img, .hamburger .fa-bars{
    margin: 5px 20px;
}

.left-logo img{
    width: 60px;
    vertical-align: middle;
}

.fa-bars{
    font-size: 25px;
    vertical-align: middle;
}

.extended-menu a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#border-radius{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
}

.hamburger, .extended-menu{
    width: 100%;
    height: 100%;
}

.extended-menu{
    background-color: red;
    display: none;
}

.hamburger{
    display: block;
}
/* END HEADER */
/* SECTION-1 */
.flex{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: column;
}

.col-double{
    width: calc(100% / 2 * 2 - 20px);
    margin: 10px 10px 10px;
}

.left-content div{
    margin: 20px auto;
}

.left-content h2{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #007ffd;
}

.left-content p{
    font-size: 13px;
    line-height: 25px;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
}

#button{
    width: 165px;
    background-color: #0084fd;
    border-radius: 20px;
}

.fa-brands{
    font-size: 16px;
    color: white;
    margin: 10px 0 10px 40px;
}

span{
    font-size: 16px;
    color: white;
    margin: 10px 40px 10px 0;
}

.right-content img{
    width: 80%;
    margin: 10px auto 0;
    display: flex;
}

.col-30{
    width: calc (100% - 20px);
    margin: 10px;
}

.col-30 div{
    margin: 20px auto;
}

.col-30 i, .col-50 i{
    display: flex;
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    font-size: 60px;
    justify-content: center;
    color: #0084fd;
}

.col-30 h2, .col-30 p{
    text-align: center;
    margin: 20px auto;
}

.col-30 h2{
    font-size: 20px;
    color: #0084fd;
}

.col-30 p{
    font-size: 13px;
    line-height: 25px;
}

.content{
    background-color: lightskyblue;
    border-radius: 20px;
}
/* END SECTION-1 */
/* SECTION-2 */
.background{
    background-color: #9792e4;
}

.col-50{
    width: calc(100% - 20px);
    margin: 10px;
}

.col-50 div{
    margin: 20px auto;
}


.col-50 img{
    width: 100%;
}


.col-50 h2, .col-50 p{
    margin: 20px auto;
}

.col-50 h2{
    font-size: 22px;
    color: white;
}

.col-50 p{
    font-size: 13px;
    line-height: 20px;
    color: white;
}

#white{
    width: 90%;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 30px;
}

#white h2, #white p{
    width: 100%;
    color: black;
    text-align: center;
}

#planning{
    width: 90%;
    margin-top: 10px;
    margin-left: 15px;
}

.col-50 #circle{
    margin-bottom: 10px;
}

#circle{
    width: 30px;
    height: 30px;
    background-color: #9792e4;
    padding: 10px;
    border-radius: 50%;
}

.fa-arrow-down-long{
    color: #212121;
    font-size: 10px;
    justify-content: center;
}
/* END SECTION-2 */
/* SECTION-3 */
.col-100{
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 20px;
}

.col-100 h4, .col-100 h2, .col-100 p{
    text-align: center;
}

.col-100 h4{
    font-size: 15px;
    margin: 20px auto;;
}

.col-100 h2{
    margin-bottom: 20px;
    color: #9792e4;
}

.col-100 p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.col-100 img{
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 70px;
    display: flex;
    justify-content: center;
}

.background h4, .background h2, .background p{
    color: white;
}
/* END SECTION-3 */
/* SECTION-4 */
#benefits{
    width: 100%;
    margin: 70px 0;
    height: 1500px;
    background-color: #9792e4;
}

.col-10{
    width: calc(100% - 20px);
    height: 150px;
    background-color: red;
    margin: 10px;
}

#benefits .col-30{
    width: calc(100% - 20px);
    height: 200px;
    margin: 10px;
    background-color: green;
}

.col-75 div, .col-25 div{
    margin: 0 40px;
}

.col-75{
    width: calc(100% - 20px);
    margin: 10px;
    float: left;
}

.col-75 h2{
    font-size: 25px;
    color: #9792e4;
    margin-bottom: 20px;
}

.col-75 p{
    line-height: 20px;
    margin-bottom: 20px;
}

.col-25{
    width: calc(100% - 20px);
    margin: 10px;
    float: left;
}

.col-25 img{
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 70px;
}

.col-25 h2{
    color: #9792e4;
}

.col-25 #small{
    width: 140px;
    background-color: #9792e4;
    border-radius: 20px;
    margin: 20px 0;
}

#small i, #small span{
    font-size: 12px;
    margin: 5px;
}

#started{
    background-color: #9792e4;
}

.col-60{
    width: calc(60% - 20px);
    height: 300px;
    margin: 10px auto;
    background-color: aqua;
}

#footer{
    background-color: black;
}

.col-55{
    width: calc(55% - 20px);
    height: 150px;
    margin: 10px auto;
    background-color: darkorange;
}
/* TABLET */
@media screen and (min-width:768px){
    .container{
        max-width: 750px;
    }

    .content{
        flex-direction: row;
    }

    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-double{
        width: calc(100% / 3 * 2 - 20px);
    }

    .col-30{
        width: calc(100% / 3 - 20px);
    }
}
/* DESKTOP */
@media screen and (min-width:991px){
    .container{
        max-width: 950px;
    }

    .extended-menu{
        display: block;
    }

    .hamburger{
        display: none;
    }

    .col-50{
        width: calc(50% - 20px);
    }

    .col-75{
        width: calc(100% - 30% - 20px);
    }

    .col-25{
        width: calc(100% - 70% - 20px);
    }
}

/* LARGE-DESKTOP */
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}